* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  box-sizing: border-box;
}
