.img {
  height: 100px;
  width: 100%;
  border: 1px solid var(--tg-theme-button-color);
  background-color: lightgrey;
  margin: 0 auto;
  object-fit: cover;
}

.title {
  color: var(--tg-theme-text-color);
}
.description {
  color: var(--tg-theme-hint-color);
}
.price {
  color: var(--tg-theme-text-color);
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 15px;
  width: 170px;
  border: 1px solid var(--tg-theme-button-color);
  border-radius: 4px;
  background-color: var(--tg-theme-bg-color);
}

.amount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--tg-theme-text-color);
}

.amount-container {
  position: absolute;
  border: 1px solid var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
  border-radius: 50px;
  width: 35px;
  height: 35px;
  top: 8px;
  right: 8px;
}

.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.product-button {
  border-radius: 50px;
  width: 35px;
  height: 35px;
}
