.img {
  height: 100px;
  width: 100%;
  border: 1px solid var(--tg-theme-button-color);
  background-color: lightgrey;
  margin: 0 auto;
  object-fit: cover;
}

.title {
  color: var(--tg-theme-text-color);
}
.description {
  color: var(--tg-theme-hint-color);
}
.price {
  color: var(--tg-theme-text-color);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 225px;
  padding: 15px;
  width: 170px;
  border: 1px solid var(--tg-theme-button-color);
  border-radius: 4px;
  background-color: var(--tg-theme-bg-color);
}

.amount {
  position: absolute;
  border: 1px solid var(--tg-theme-button-color);
  border-radius: 50px;
  width: 15px;
  height: 15px;
  top: 10px;
  right: 10px;
}
